<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <%- include('./partials/cabecalho'); %>
    
    <nav>
        <a href="inserir">Inserir</a>
        <a href="lista">Lista de Clientes</a> 
    </nav>
</body>
</html>