<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/cabecalho'); %>

    <h2><%= nome%> Foi Inserido(a) Com Sucesso!</h2>
    <a href="/"><- Voltar</a>
</body>
</html>